.banner {
  background: url("/Homepage-Human.png") no-repeat;
  background-position: right 30% bottom -12rem;
  @apply bg-blue-100;
}

.footerLogo {
  @apply flex items-center bg-blue-600;
  background-image: url("/Logo-Big.png");
  background-repeat: no-repeat;
  background-position: right -7.5rem bottom -4rem;
}

.opacity-image::before {
  position: absolute;
  content: "";
  background: rgba(51, 109, 242, 0.3);
  width: 626px;
  height: 417px;
  pointer-events: none;
}
