.list-image {
  background: url("/ServiceListBanner.jpg") no-repeat;
  background-position: left 0rem bottom -25rem;
  background-size: cover;
}

.list-image::before {
  position: absolute;
  content: "";
  background: rgba(0, 25, 81, 0.6);
  z-index: 1;
  width: 100%;
  height: 100px;
  pointer-events: none;
}

span[role="slider"]::before {
  width: 100px;
  top: 1.3rem;
  content: attr(aria-valuenow);
  position: absolute;
  text-align: center;
  left: -42px;
  @apply text-blue-700;
}
